<!DOCTYPE html>
<html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/script.js"></script>
  <style>
    table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>
</head>
<body ng-app="NYCBikes">
  <div ng-controller="bikeController">
    <p>Filter by Station Name: <input type="text" ng-model="search.stationName"></p>

    <!-- <p>{{data}}</p> -->

    <table>
      <tr>
        <th>Station Name</th>
        <th>Available Docks</th>
        <th>Total Docks</th>
        <th>Available Bikes</th>
        <th>Last Communication</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="x in data | filter : search ">
        <td>{{ x.stationName}}</td>
        <td>{{ x.availableDocks }}</td>
        <td>{{ x.totalDocks }}</td>
        <td>{{ x.availableBikes }}</td>
        <td>{{ x.lastCommunicationTime }}</td>
        <td>{{ x.statusValue }}</td>
      </tr>
    </table>



  </div>
</body>
</html>


<!-- 

<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table> -->
