<!DOCTYPE html>
<html>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>
</head>
<body ng-app="Friendship">
  <div class="container pt-3">
    <div ng-controller="friendshipController" class="row">
      <!-- <p>Filter by Station Name: <input type="text" ng-model="search.stationName"></p> -->


      <div class="col-4">
        <p>People List:</p>
        <table>
          <tr>
            <th>Name</th>
            <th>Friend Count</th>
          </tr>
          <tr ng-repeat="x in peopledata">
            <td>{{ x.name }}</td>
            <td>{{ x.friendCount }}</td>
          </tr>
        </table>
      </div>

      <div class="col-8">
        <p>
          <form ng-submit="search()">
            <!-- will automatically update $scope.nameSearch -->
            Find family info by name: <input type="text" ng-model="searchName"> 
            <input type="submit" value="Search">
          </form>
        </p>

        <div ng-if="showNoFamilyMessage">
          <b>No family info to display for this person.</b>
        </div>

        <div ng-if="showFamilyTable">
          <table>
            <tr>
              <th>Login</th>
              <th>Name</th>
              <th>Role</th>
              <th>Sex</th>
              <th>Relationship Status</th>
              <th>Birth Year</th>
            </tr>
            <tr ng-repeat="x in familydata">
              <td>{{ x.login }}</td>
              <td>{{ x.name }}</td>
              <td>{{ x.role }}</td>
              <td>{{ x.sex }}</td>
              <td>{{ x.relationshipStatus }}</td>
              <td>{{ x.birthyear }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
