
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Search flight data</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!-- Custom styles for this template -->
    <link href="css/form-validation.css" rel="stylesheet">
    <style>
      table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
      table tr:nth-child(odd) {
        background-color: #f1f1f1;
      }
      table tr:nth-child(even) {
        background-color: #ffffff;
      }
    </style>
  </head>

  <body class="bg-light" ng-app="Flights">
	    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/login">Login/Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container" style="margin-top: 100px">
      <div class="py-5 text-center">
        <h2>Search for flight info</h2>
<!--         <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
      </div>

      <div class="row"  ng-controller="flightsController">

<!--         <div class="col-md-4 order-md-2 mb-4">
          <p>Results:</p>
          {{airlineData}}
        </div> -->

        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Filters</h4>
          <form ng-submit="search()" novalidate>
            <!-- <form action="/performanceData"> -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="airline_name">Airline</label>
                <a href="/airlines" target="_blank"><u><small>See All Airlines</small></u></a>
                <!-- <input type="text" ng-model="search.airline_name"> -->

                <input type="text" class="form-control" ng-model="searchData.airline_name" id="airline_name" placeholder="" value="">

       <!--          <div style="position: absolute;text-align: left;left: 0px;z-index: 10;background-color: white;">
                  <ul style="list-style-type: none" ng-repeat="a in airlineData|filter:search|limitTo:5">
                    <li>
                      {{a.airline_name}}
                    </li>
                  </ul>
                </div> -->
              </div>
              <div class="col-md-3 mb-3">
                <label for="flight_number">Flight Number</label>
                <input type="text" class="form-control" ng-model="searchData.flight_number" id="flight_number" placeholder="" value="">
              </div>
              <div class="col-md-3 mb-3">
                <label for="flight_date">Date</label>
                <u><small>2017-01-01 to 2018-01-31</small></u></a>
                <input type="text" class="form-control" ng-model="searchData.flight_date" id="flight_date" placeholder="" value="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Origin Airport</label>
                <a href="/airports" target="_blank"><u><small>See All airports</small></u></a>
                <input type="text" class="form-control" ng-model="searchData.origin_airport" id="origin_airport" placeholder="" value="">
                <div class="invalid-feedback">
                  Origin airport is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName" target="_blank">Destination Airport</label>
                <a href="/airports"><u><small>See All airports</small></u></a>
                <input type="text" class="form-control" ng-model="searchData.destination_airport" id="destination_airport" placeholder="" value="">
                <div class="invalid-feedback">
                  Destination airport is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Origin City</label>
                <input type="text" class="form-control" ng-model="searchData.origin_city" id="origin_city" placeholder="" value="">
                <div class="invalid-feedback">
                  Origin city is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Destination City</label>
                <input type="text" class="form-control" ng-model="searchData.destination_city" id="destination_city" placeholder="" value="">
                <div class="invalid-feedback">
                  Destination city is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Origin Country</label>
                <input type="text" class="form-control" ng-model="searchData.origin_country" id="origin_country" placeholder="" value="">
                <div class="invalid-feedback">
                  Origin Country is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Destination Country</label>
                <input type="text" class="form-control" ng-model="searchData.destination_country" id="destination_country" placeholder="" value="">
                <div class="invalid-feedback">
                  Destination Country is required.
                </div>
              </div>
            </div>

            <h4 class="mb-3">What would you like to search for?</h4>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="performance" name="performance" value="performance" type="radio" ng-model="searchData.type" class="custom-control-input" checked required>
                <label class="custom-control-label" for="performance">Raw performance data</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="avgArrDelay" name="avgArrDelay" value="avgArrDelay" type="radio" ng-model="searchData.type" class="custom-control-input" required>
                <label class="custom-control-label" for="avgArrDelay">Average arrival delay (support only one filter)</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="avgDepDelay" name="avgDepDelay" value="avgDepDelay" type="radio" ng-model="searchData.type" class="custom-control-input" required>
                <label class="custom-control-label" for="avgDepDelay">Average departure delay (support only one filter)</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="incident" name="incident" value="incident" type="radio" ng-model="searchData.type" class="custom-control-input" required>
                <label class="custom-control-label" for="incident">Past incidents (will only search on airline filter)</label>
              </div>
            </div>

<!--             <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Direct flights only</label>
            </div>
 -->
            <hr class="mb-4">
            <div class="row text-danger" ng-if="showError">{{ errorMsg }} </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Search">Search</button>
          </form>
        </div>

        <div class="order-md-2 text-center mt-3 col-md-12" ng-if="showLoading">
          <img src="loading.gif" alt="Loading..." style="width:48px;height:48px;">
        </div>

        <div class="order-md-3" ng-if="performanceData">
          Search Results (showing top 1000; try refining your filters if desired result is not shown):
          <table>
            <tr>
              <th>Flight Date</th>
              <th>Flight Number</th>
              <th>Airline Name</th>
              <th>Origin Airport</th>
              <th>Origin City</th>
              <th>Origin Country</th>
              <th>Destination Airport</th>
              <th>Destination City</th>
              <th>Destination Country</th>
              <th>Departure Delay (minutes)</th>
              <th>Arrival Delay (minutes)</th>
            </tr>
            <tr ng-repeat="x in performanceData">
              <td>{{ x.flight_date }}</td>
              <td>{{ x.flight_number }}</td>
              <td>{{ x.airline_name }}</td>
              <td>{{ x.origin_airport_iata }}</td>
              <td>{{ x.origin_city }}</td>
              <td>{{ x.origin_country }}</td>
              <td>{{ x.destination_airport_iata }}</td>
              <td>{{ x.destination_city }}</td>
              <td>{{ x.destination_country }}</td>
              <td>{{ x.departure_delay }}</td>
              <td>{{ x.arrival_delay }}</td>
            </tr>
          </table>
        </div>


        <div class="order-md-3" ng-if="avgArrDelayData">
          Search results:
          <table>
            <tr>
              <th>Average Delay</th>
            </tr>
            <tr ng-repeat="x in avgArrDelayData">
              <td>{{ x.average_delay }}</td>
            </tr>
          </table>
        </div>

        <div class="order-md-3" ng-if="avgDepDelayData">
          Search results:
          <table>
            <tr>
              <th>Average Delay</th>
            </tr>
            <tr ng-repeat="x in avgDepDelayData">
              <td>{{ x.average_delay }}</td>
            </tr>
          </table>
        </div>


        <div class="order-md-3" ng-if="incidentData">
          Search Results:
          <table>
            <tr>
              <th>Flight Date</th>
              <th>Flight Number</th>
              <th>Airline Name</th>
            </tr>
            <tr ng-repeat="x in incidentData">
              <td>{{ x.incident_date }}</td>
              <td>{{ x.flight_number }}</td>
              <td>{{ x.airline_name }}</td>
            </tr>
          </table>
        </div>


      </div>





      </div>




      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Flight666</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/holder.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script src="js/script.js"></script>
  </body>
</html>
